body {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1, h2, h3, h4, h5 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
  font-style: normal;
}

strong {
  font-family: brandon-grotesque, sans-serif;
  font-size: 1.2em;
  font-weight: 700;
}

