html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

main {
  min-height: 60vh;
  margin: auto;
  padding: 30px 15px 80px;
}

.inner {
  max-width: 700px;
  margin: auto;
}

section {
  margin: 0 0 2rem;
}

html.modal-open {
  max-height: 100vh;
  height: 100vh;
  overflow-y: scroll;
}

body.modal-open {
  max-height: 100vh;
  height: 100vh;
  iframe {
    pointer-events: none;
  }
}

html {
  white-space-collapse: discard;
}
